@import "style/common.module";

.yearContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $xl-4;

  .yearContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $sm;
  }
}
