@import "@/style/common.module";

.button {
  @include button-primary;
  width: 100%;
  padding: $space-4 $space-6;
  font-size: $font-md;

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
  }
}
