@import "@/style/common.module";

.container {
  display: flex;
  flex-direction: row;
  gap: $sm;

  .content {
    display: flex;
    flex-direction: column;
    gap: $sm;
    margin-top: $sm;

    .title {
      font-size: $font-md;
    }

    .content {
      font-size: $font-md;
      color: $font-secondary-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 0;
    .title {
      display: none;
    }
    .content {
      .text {
        color: $font-primary-color;
      }
    }
  }
}