@import "style/common.module";
.body {
  all: unset;
}

.header,
.titleSection {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: #000;
}

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: $lg;
}

.svg {
  width: 100px;
}

.titleSection {
  display: grid;
  place-content: center;
  gap: $sm;
  position: sticky;
  top: 20vh;
  color: white;
}

.h1 {
  font-size: $font-lg;
}

.img {
  object-fit: contain;
  width: 30vw;
}

.contentSection {
  min-height: 400px;
  width: 100%;
  display: grid;
  font-size: $font-lg;
  font-family: "montserrat", sans-serif;
  color: white;
}

.main_missions {
  width: 100vw;
  margin: $xl-3 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 120px);

  .arrow_down_icon {
    position: absolute;
    bottom: 24px;
    left: 50%;
    animation: bounce_icon 2s infinite ease-in-out;
  }

  .content {
    width: 100vw;
    margin-top: $xl-3;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@keyframes bounce_icon {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 768px) {
  .titleSection {
    justify-content: unset;
  }
  .contentSection {
    min-height: unset;
    margin-bottom: $xl-3;
  }
}