@import "style/common.module";

.container {
  display: flex;
  flex-direction: row;
  gap: $xl;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content_text {
      display: flex;
      flex-direction: row;
      gap: 32px;

      .content_textTitle {
        font-weight: $font-bold;
      }
    }
  }
}