* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    all: unset;
    color: white;
    font-family: "montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #1D1D1D;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: "montserrat", sans-serif
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    cursor: default;
}

span {
    font-size: 0.8rem;
    color: #ADADAD;
    font-style: italic;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}
