@import "@/style/common.module";

.navbar_container_home {
  background-color: transparent !important;
  backdrop-filter: unset !important;
}

.navbar_container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $sm;
  color: white;
  z-index: 10;
  backdrop-filter: saturate(100%) blur(30px);
  background: rgb(79 72 173 / 70%);

  .navbar_items {
    display: flex;
    flex-direction: row;
    gap: $xl-4;
    margin-right: $xl;

    .navbar_link {
      font-weight: $font-light;
      font-size: $font-md;
      transition: scale 300ms;

      &:hover {
        scale: 1.1;
        transition: scale 300ms
      }

      &.selected:after {
        border-bottom: solid 2px $secondary_color;
        content: '';
        display: block;
        transform: scaleX(0.8);
        bottom: -3px;
        position: relative;
      }

      &:not(.selected):after {
        display: block;
        content: '';
        border-bottom: solid 2px $secondary_color;
        transform: scaleX(0);
        bottom: -3px;
        position: relative;
        transition: transform 250ms ease-in-out;
      }

      &:not(.selected):hover:after {
        transform: scaleX(0.8);
      }
    }
  }

  .navbar_external_links {
    display: flex;
    flex-direction: row;
  }
}

.footer {
  min-height: 10vh;
  background: #DCDAFB;
}

@media screen and (max-width: 768px) {
  .navbar_container {
    padding: unset;
    position: fixed;
    top: 0;
    flex-direction: column;

    .logo {
      width: 48px;
      height: 48px;
    }

    .navbar_items {
      gap: $sm;
    }

    .navbar_external_links {
      flex-direction: column;
      gap: $sm;
    }
  }
}