@import "@/style/common.module";

.navbar_container {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $sm;
  color: white;
  background-color: rgba(22, 22, 23, .8);
  z-index: 10;
  backdrop-filter: saturate(180%) blur(20px);

  .navbar_items {
    display: flex;
    flex-direction: row;
    gap: $xl;

    .navbar_link {
      font-weight: $font-bold;
      font-size: $font-md;
      transition: scale 300ms;

      &:hover {
        scale: 1.1;
        transition: scale 300ms
      }

      &.selected:after {
        border-bottom: solid 3px $font-primary-color;
        content: '';
        display: block;
        transform: scaleX(0.8);
      }

      &:not(.selected):after {
        display: block;
        content: '';
        border-bottom: solid 3px $font-primary-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:not(.selected):hover:after {
        transform: scaleX(0.8);
      }
    }
  }

  .navbar_external_links {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .navbar_container {
    padding: unset;
    position: fixed;
    top: 0;
    flex-direction: column;

    .logo {
      width: 48px;
      height: 48px;
    }

    .navbar_items {
      gap: $sm;
    }

    .navbar_external_links {
      flex-direction: column;
      gap: $sm;
    }
  }
}