@import "../style/common.module";

.main {
  position: relative;
  width: 100vw;
  height: 100vh;

  .background {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);

  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 100vw;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
    text-align: center;

    .title {
      font-family: $font-main;
      font-size: 64px;
    }

    .subtitle {
      font-family: $font-main;
      font-size: 28px;
    }
  }
}


@media screen and (max-width: 1020px) {
  .background {
    .background_image {
      width: 90vw;
    }
  }
}
