@import "style/common.module";

.missionCard {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  gap: $xl-3;
  align-items: center;
  width: 100%;

  &.reverse {
    flex-direction: row-reverse;
    text-align: right;
    .missionCard_content {
      .tags {
        justify-content: flex-end;
      }
    }
  }

  .missionCard_image {
    height: fit-content;
  }

  .missionCard_content {
    display: flex;
    gap: $sm;
    flex-direction: column;
    padding: $lg;

    .tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: $sm;
      color: $secondary_color;
      align-items: baseline;

      span {
        color: $font-secondary-color;
        font-style: italic;
      }
    }

    .title {
      font-weight: $font-bold;
      margin-bottom: $sm;
    }

    .detailText {
      font-size: $font-md;
      font-weight: $font-light;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 968px) {
  .missionCard {
    gap: $sm;
    flex-direction: column !important;
  }
  .missionCard_image {
    width: 150px;
  }

  .missionCard_content {
    padding: 0 !important;
  }

}
