@import "@/style/common.module";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-end;
  max-width: 700px;
  gap: 18px;

  .podium_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;


    .podium_item_icon {
      &:hover {
        cursor: pointer;
      }

      .podium_item_icon_second {
        height: 150px;
        width: 150px;
      }

      .podium_item_icon_first {
        height: 200px;
        width: 200px;
      }

      .podium_item_icon_third {
        height: 30px;
        width: 200px;
      }
    }

    .podium_item_support {
      background: $linear-gradient;
      width: 200px;
      border-radius: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  @import "@/style/common.module";

  .container {
    .podium_item {
      .podium_item_icon {
        .podium_item_icon_second {
          height: 50px;
          width: 50px;
        }

        .podium_item_icon_first {
          height: 100px;
          width: 100px;
        }

        .podium_item_icon_third {
          height: 20px;
          width: 100px;
        }
      }

      .podium_item_support {
        width: 80px;
      }
    }
  }
}