@import "style/common.module";


.skills_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 $sm $xl $sm;
  .skills_item {
    margin-bottom: $xl;
  }
}
