.skills_page {
  position: relative;
  /*max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;*/
}

@media screen and (max-width: 768px) {
  .skills_page {
    margin-left: 0;
  }
}