.arrow_down_icon {
  position: absolute;
  bottom: 24px;
  left: 50%;

  animation: bounce_icon 2s infinite ease-in-out;
}

@keyframes bounce_icon {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}