@import "@/style/common.module";

.container {
  min-width: 1100px;

  > :not(:last-child) {
    margin-bottom: 32px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .contentRow {
      margin-bottom: 32px;

      .contentRowTitle {
        text-decoration: underline $font-primary-color;
        margin-bottom: 12px;
      }
    }

  }
}

@media screen and (max-width: 1100px) {
  .container {
    min-width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .content {
      grid-template-columns: none !important;
      grid-template-rows: auto;
      gap: 32px;

      .content_title {
        order: 2;
      }
    }
  }
}
