@import "@/style/common.module";

.container {
  min-width: 1100px;

  > :not(:last-child) {
    margin-bottom: 32px;
  }

  .icon_line {
    display: flex;
    width: auto;
    flex-direction: row;
    gap: 64px;

    .skill {
      cursor: pointer;
      border: 1px solid white;
      border-radius: 8px;
      padding: 4px 12px;
      background: none;
      transition: background-color 500ms;

      &:active {
        background: $linear-gradient;
        transition: background-color 500ms;
      }
    }

    .skill_selected {
      background: $linear-gradient;
      border: none;
    }
  }


  .content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 64px;

    .content_title {
      font-size: 22px;
    }

    .contentRow {
      margin: 32px 0;

      .contentRow_title {
        text-decoration: underline $font-primary-color;
        margin-bottom: 12px;
      }

      .contentRow_icons {
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: flex-end;
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .container {
    min-width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .content {
      grid-template-columns: none !important;
      grid-template-rows: auto;
      gap: 32px;

      .content_title {
        order: 2;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .icon_line {
      order: -1;
      gap: 0;
      justify-content: space-evenly;
    }
  }
}