@import "@/style/common.module";

.container {
  min-width: 1100px;

  > :not(:last-child) {
    margin-bottom: $xl;
  }

  .section_title {
    font-weight: $font-bold;
    font-style: italic;
    color: $font-accent-color;
  }

  .frameworks_container {
    display: flex;
    flex-direction: row;
    gap: $xl-4;
    flex-wrap: wrap;
    justify-content: center;

    .framework_item {
      max-width: 250px;
      display: flex;
      flex-direction: column;
      gap: $common-radius;
      text-align: justify;

      .framework_icon {
        width: $xl-2;
        height: $xl-2;
        border-radius: 50%;
        background: #FAE0E4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .framework_title {
        font-weight: $font-bold;
        font-size: $lg;
      }

      .framework_content {

      }

      .framework_subContent {

      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .container {
    min-width: unset;
  }
}