@import "style/common.module";

.careerDetailContainer {
  display: grid;
  grid-template-columns: [leftColumn] 30vw [centerColumn] auto [rightColumn] 20vw;
  grid-template-rows: auto;
  grid-template-areas:
    ". headerArea ."
    "imagePresentation imagePresentation imagePresentation"
    "sidebar contentArea .";
  row-gap: $xl;
  margin-top: $xl-2;
  .header {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    grid-area: headerArea;

    > :not(:last-child) {
      margin-bottom: $xl;
    }

    .header_tags {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      font-size: $font-md;
      color: $font-secondary-color;

      :first-child {
        border-radius: $common-radius;
        background: $secondary_color;
        color: $font-accent-color;
        padding: $sm;
      }
    }

    .header_title {
      font-family: "saol", sans-serif;
      font-weight: $font-light;
    }
  }

  .image_presentation {
    margin-bottom: $xl-4;
    grid-area: imagePresentation;
  }

  .sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidebarContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: sticky;
      top: 0;
      padding-top: $xl-3;
      font-weight: $font-light;

      > :not(:last-child) {
        margin-bottom: $xl-3;
      }

      .sidebar_item {
        margin-bottom: $md;
        transition: all 300ms;
        color: $font-primary-color;

        &:hover {
          scale: 1.05;
          transition: all 300ms;
          color: $font-accent-color;
          font-weight: $font-bold;
        }
      }

    }
  }

  .content {
    grid-area: contentArea;
    font-weight: 100;
  }

  .mentions_container {
    display: flex;
    flex-direction: row;
    gap: $xl;
    overflow-x: hidden;
    width: 60vw;

    .mention_content {
      display: flex;
      flex-direction: row;
      gap: $xl;
      overflow: auto;

      .mentions_item {
        display: flex;
        flex-direction: column;
        gap: $md;

        .mentions_itemImage {
          width: 220px;
          height: auto;
        }

        .mentions_itemTitle {
          font-size: $font-md;
        }

        .mentions_itemSubtitle {
          font-size: $font-md;
        }

        .mentions_itemTags {
          display: flex;
          flex-direction: row;
          gap: $sm;
          color: $font-secondary-color;
        }
      }
    }
  }
}


@media screen and (max-width: 1020px) {
  .careerDetailContainer {
    padding: $sm;
    grid-template-areas:
    "headerArea headerArea headerArea"
    "imagePresentation imagePresentation imagePresentation"
    "contentArea contentArea contentArea";

    .header {
      .header_tags {
        gap: $sm;
        flex-wrap: wrap;
      }
    }

    .image_presentation {
      width: calc(100vw - 24px) !important;
      margin-bottom: unset;
    }

    .content {
      padding: $md;
    }
  }
}

@media screen and (max-width: 768px) {
  .careerDetailContainer {
    .sidebar {
      display: none;
    }

    .mentions_container {
      width: 80vw;
    }
  }
}